/* GENERAL */
 
* {
  font-family: 'Arial', sans-serif;
}

body, html {
  background-color: gray;
}

body {
  background: linear-gradient(to right, #b9b9b9, #fef7f2);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

button {
  cursor: pointer;
  
}

button:hover {
  background-color: #0558fe; 
  color: white; 
  transform: scale(1.10); 
}

/* SIDEBAR */

aside {
  width: 25%;
  margin: none;
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: #fdc600;
  color: white;
  padding: 15px;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 1);
  border-radius: 15px;
}

h1 {
  font-size: 2.5em;
}

h1, 
h2 {
  margin: 0;
}


nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: gray;
  color: white;
  width: 65%;
  text-align: center;
  border-radius: 10px
 
}

.active-nav {
  color: rgb(101, 98, 96);
  background-color: #ffd000;
}

/* MAIN */

main {
  width: 100%;
  max-width: 800px; 
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-evenly;  
  gap: 20px;
}

form {
  display: flex;
}

.item,
.merchant {
  display: flex;
  background-color: #0558fe;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.item {
  display: inline-flex;
  flex-direction: column;   
  align-items: center;         
  padding: 15px;
  background-color: #0558fe;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
  width: 300px;
  height: 275px;                
      
}

.merchant {
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view-items-button {
  padding: 5px;
  margin-right: 10px;
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: green;
}

.fail {
  color: red;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 
  
