/* GENERAL */
 
* {
  font-family: sans-serif;
}

body, html {
  background-color: gray;
}

body {
  display: flex;
  margin: 0px;
}

/* SIDEBAR */

aside {
  width: 25%;
  margin: none;
  background-color: #53a8b6;
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: #5585b5;
  color: white;
  padding: 15px;
}

h1 {
  font-size: 2.5em;
}

h1, 
h2 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}


nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: #a2a2a3;
  width: 65%;
  text-align: center;
  border-radius: 3rem 0 0 3rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 3rem;

  padding: 20px;
  cursor: pointer;
}

.active-nav {
  background-color: white;
}

nav > button:hover,
.submit:hover,
.delete-merchant:hover,
.add-new-button:hover,
.discard-merchant-edits:hover,
.submit-merchant-edits:hover,
.edit-merchant:hover,
.view-merchant-items:hover {
  animation: pulse 1s infinite;
  background-color: #f6b696; 
  color: #ffffff; 
}

.merchant:hover
{
  background-color: #f6b696; 
}

aside, header, .item, main {
  border-radius: 20px;
}



/* MAIN */

main {
  padding: 10px;
  width: 75%;
  background-color: white;
}

form {
  display: flex;
}

.item,
.merchant {
  display: flex;
  background-color: #bbe4e9;
  margin: 10px;
  padding: 5px;
}

.item {
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

.merchant {
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.submit,
.delete-merchant,
.add-new-button,
.discard-merchant-edits,
.submit-merchant-edits,
.edit-merchant,
.view-merchant-items {
  padding: 3px;
  border-width: 1px;
  margin-right: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.submit:active,
.delete-merchant:active,
.add-new-button:active,
.discard-merchant-edits:active,
.submit-merchant-edits:active,
.edit-merchant:active,
.view-merchant-items:active{
  transform: scale(0.95);
}

.submit:hover,
.delete-merchant:hover,
.add-new-button:hover,
.discard-merchant-edits:hover,
.submit-merchant-edits:hover,
.edit-merchant:hover,
.view-merchant-items:hover{
  border-color: rgb(179, 167, 255);
  outline: 1px solid black;
  outline-offset: 1px;
}


.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  align-items: center;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: green;
}

.fail {
  color: red;
}


/* ITEMS SECTION*/

.items-view {
  background-color: #bbe4e9;
  padding: 20px;
  border: 5px solid #ccc;
  border-radius: 20px;
  display: flex;           
  flex-wrap: wrap;         
  gap: 10px;
  justify-content: center;
}

.item {
  flex: 1 1 300px;           
  max-width: 350px;         
  min-width: 200px;
  background-color: #79c2d0;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
} 

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 
  
/* co */
