/* GENERAL */
 
* {
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
}

html {
  overflow-x: hidden;
  overflow-y: auto; /* This allows vertical scrolling */
}

body, html {
  background-color: gray;
}

body {
  display: flex;
  margin: 0px;
}

/* SIDEBAR */

aside {
  width: 25%;
  margin: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: black;
  color: white;
  font-weight: 900;
  padding: 15px;
  background-color: transparent;
}

.logo {
  height: 5rem;
}
.title-container{
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5em;
  font-family: "Rubik";
  font-style:italic
}

h1, 
h2 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: gray;
  width: 65%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
}

#items-nav {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#merchants-nav {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.active-nav {
  background-color: white;
}

/* MAIN */

main {
  margin-top: 30px;
  padding: 10px;
  width: 75%;
  background-color: white;
  border-radius: 10px;
}

form {
  display: flex;
  gap: .5rem;
}

.item,
.merchant {
  display: flex;
  background-color: #f7f9fc;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.item {
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

.merchant {
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view-items-button {
  padding: 5px;
  margin-right: 10px;
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  align-items: center;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: green;
}

.fail {
  color: red;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 
  
/* Added CSS */
body {
  background: linear-gradient(to bottom, #91267c, #f39c12, #00bfff);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

button{
  border-radius: 15px;
  
}

button {
  background-color: white;
  border-radius: 100px;

  color: black; 
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
}
main button {
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 8px; /* A simpler shadow with fewer layers */
}

main button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 4px 8px;
  transform: scale(1.05);
}