/* GENERAL */
 
* {
  font-family: sans-serif;
}

body, html {
  background-color: gray;
}

body {
  display: flex;
  margin: 0px;
}

/* SIDEBAR */

aside {
  width: 25%;
  margin: none;
  background-image: url(https://cdn.abcotvs.com/dip/images/4537141_102218-kgo-billion-dollar-img.jpg);
}

header {
  text-align: center;
  margin: 10px 10px 80px 10px;
  background-color: black;
  color: white;
  padding: 15px;
}

h1 {
  font-size: 2.5em;
}

h1, 
h2 {
  margin: 0;
}

button:hover {
  cursor: pointer;
}


nav {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav > button {
  border: none;
  margin-bottom: 20px;
  background-color: gray;
  width: 65%;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
}

nav > button:hover,
.submit:hover,
.delete-merchant:hover,
.add-new-button:hover,
.discard-merchant-edits:hover,
.submit-merchant-edits:hover,
.edit-merchant:hover,
.view-merchant-items:hover {
  animation: pulse 1s infinite;
  background-color: #1f4b6a; 
  color: #ffffff; 
}


.merchant:hover {
  background-color: #5f9dc9; 
  color: #ffffff; 
}

.active-nav {
  background-color: white;
}

/* MAIN */

main {
  padding: 10px;
  width: 75%;
  background-color: white;
}

form {
  display: flex;
}

.item,
.merchant {
  display: flex;
  background-color: lightgray;
  margin: 10px;
  padding: 5px;
}

.item {
  width: 30%;
  flex-direction: column;
  justify-content: center;
}

.merchant {
  width: 98%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view-items-button {
  padding: 5px;
  margin-right: 10px;
}

.merchant-name {
  padding-left: 10px;
  margin: 0px;
}

.display-options {
  display: flex;
  align-items: center;
}

.display-options > button {
  margin-left: 15px;
}

.merchant-name-in-item {
  display: inline;
}

.success {
  color: green;
}

.fail {
  color: red;
}

/* HIDDEN ELEMENTS */

.hidden {
  display: none;
} 
  
nav > button:hover,
.submit:hover,
.delete-merchant:hover,
.add-new-button:hover,
.discard-merchant-edits:hover,
.submit-merchant-edits:hover,
.edit-merchant:hover,
.view-merchant-items:hover {
  animation: pulse 1s infinite;
  background-color: #1373b7; 
  color: #ffffff; 
}

#merchants-nav:hover {
  background-color: #1373b7; /* New color when hovered */
  color: #ffffff; /* Text color change for contrast */
}
